<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>宇婷写的demo</title>
    <style type="text/css">
        div {
            width: 500px;
            margin: 30px auto;
        }
    </style>
</head>
<body>
<div id='app'>
    <input type="checkbox" v-model="check"> {{check}}


    <!--<input type="checkbox" checked="false">-->
</div>
<div id="app2">
    <input type="checkbox" value="苹果1" v-model="check">
    <input type="checkbox" value="香蕉1" v-model="check">
    <input type="checkbox" value="猕猴桃1" v-model="check">
    {{check}}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
    /*new Vue({
        el: '#app',
        data: {
            check: true
        }
    });
    new Vue({
        el: '#app2',
        data: {
            check: []
        }
    });*/
    // 三列 第一列叫做籍贯 第二列叫做性别 第三列叫做爱好
    var arr1 = [{colname: "jiguan", disname: "籍贯"}, {colname: "sex", disname: "性别"}, {colname: "hobby", disname: "爱好"}];
    var arr2 = [
        {jiguan:"中国人",sex:"男",hobby:"吃饭",m:"哈哈",n:"呵呵",o:"嘿嘿"},
        {jiguan:"美国人",sex:"男",hobby:"睡觉",m:"哈哈",n:"呵呵",o:"嘿嘿"},
        {jiguan:"泰国人",sex:"男",hobby:"看电影",m:"哈哈",n:"呵呵",o:"嘿嘿"},
        {jiguan:"日本人",sex:"女",hobby:"写jq",m:"哈哈",n:"呵呵",o:"嘿嘿"},
        {jiguan:"马来人",sex:"女",hobby:"写vue",m:"哈哈",n:"呵呵",o:"嘿嘿"},
        {jiguan:"韩国人",sex:"女",hobby:"写ng",m:"哈哈",n:"呵呵",o:"嘿嘿"}
    ];


    // result  身体
    var newArsex = [
        {jiguan: "中国人", sex: "男",hobby:"吃饭"},
        {jiguan: "美国人", sex: "男",hobby:"睡觉"},
        {jiguan: "泰国人", sex: "男",hobby:"看电影"},
        {jiguan: "日本人", sex: "女",hobby:"写jq"},
        {jiguan: "马来人", sex: "女",hobby:"写vue"},
        {jiguan: "韩国人", sex: "女",hobby:"写ng"}
    ]


    // tempArr1["jiguan","sex","hobby"]
</script>
</html>















