<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue v-for 循环套循环</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">

<!--<ul v-for="mess in messages">-->
    <!--<li>{{mess.name}} {{mess.age}}</li>-->
<!--</ul>-->
    <!--<ul v-for="(index,value) in messages">-->
        <!--<li>{{index}} {{value.age}}</li>-->
    <!--</ul>-->
    <!--第一个参数是索引第二个参数是值-->
    <div v-for="(index,val) in messages">
        {{index}}
        <div v-for="value in val">
            {{index}} {{$index}}<span>{{val.name}}</span>
        </div>

    </div>
    注意循环的时候可以是item in items 也可以是（index,value）in items  index 代表索引 value代表循环的每一项目

</div>
<style type="text/css">
    .aa {
        w
    }
</style>
</body>
<script>


    var vm = new Vue({
        el:"#app",
        data:{
            messages:[
                {name:"wenbo",age:30},
                {name:"xuxu",age:20},
                {name:"yuting",age:18}
            ]
        }
    })
    ;(function(x){

    })(x);
    //前面后面都加分号
</script>
</html>