<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue1.0学习</title>
    <!--先用最传统的方式引入js库-->
    <script src="js/vue.js"></script>
</head>
<body>
    <!--第一个 vue demo-->
    <div id="app">{{message1}}</div>
    <!--双向数据绑定-->
    <div id="app2">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>
    <!--循环列表 v-for 语句-->
    <div id="app3">
        <ul>
            <li v-for="item in lists">{{item.txt}}</li>
        </ul>
    </div>
    <!--处理用户输入 点击事件v-on:click="匿名函数名字"-->
    <div id="app4">
        <p>{{messagesss}}</p>
        <button v-on:click="reverseMessage">点击我就可以把信息反转</button>
    </div>
    <!--综合实例-->
    <div id="app5">
        <!--鼠标抬起并且回车的时候执行add方法-->
        <input v-model="newTodo" v-on:keyup.enter="add">
        <ul>
            <li v-for="item in todos">
                <span>{{ item.txt }}</span>
                <button v-on:click="remove($index)">X</button>
            </li>
        </ul>
    </div>
</body>
<script>
    //第一个vue
    var vm = new Vue({
        el:'#app',
        data:{
            message1:"第一次vue小例子"
        }
    });
    //双向数据绑定
    var vm2 = new Vue({
        el:"#app2",
        data:{
            message:"演示双向数据绑定"
        }
    });
    //渲染列表
    var vm3 = new Vue({
        el:'#app3',
        data:{
            lists:[
                {txt:'我是张建红'},
                {txt:'我是小白'},
                {txt:'我是黄文博'},
                {txt:'我是陈江峰'}
            ]
        }
    });
    //处理用户输入
    var vm4 = new Vue({
        el:"#app4",// 注意选择器是id必须加#
        data:{     // 数据messages 对应{{messages}}
            messagesss:'我是中国人，我来自山西，关公故里'
        },
        methods:{ // 方法里面是匿名函数
            reverseMessage:function(){
                this.messagesss = this.messagesss.split('').reverse().join('')
            }
        }
    });
    //官网上的综合实例子
    /*var vm5 = new Vue({
        el:"#app5",
        data:{
            newTodo:'',
            todos:[{txt:'add some todos'}]
        },
        methods:{
            addTodo:function(){
                var txt = this.newTodo.trim();
                if(txt){
                    this.todos.push({txt:txt});
                    this.newToDo = '';
                }
            },
            remove:function(index){
                this.todos.splice(index,1);
            }
        }
    })*/
    var vm5 = new Vue({
        //作用域
        el: '#app5',
        // data对象保存数据
        data: {
            newTodo: '我是input里面的默认值',//数据绑定的时候的默认值
            //数组 结合v-for语句  item in todos(对象的集合)
            todos: [
                { txt: '我是循环的第一条' }
            ]
        },
        //方法 对象里面包裹对象 add 方法和remove方法
        methods: {
            add: function () {
                var text = this.newTodo.trim()
                if (text) {
                    this.todos.push({ txt: text })
                    this.newTodo = ''
                }
            },
            // remove方法接受形参索引 $index 这个方法是button按钮点击的时候去执行
            remove: function (index) {
                //splice方法原生复习 这样表示删除自己从数组里面把自己删除
                this.todos.splice(index, 1)
            }
        }
    })
</script>
</html>