<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>综合练习</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name='viewprot' content='width=device-width,minmum-scale=1.0,maxmum-scale=1.0'>
</head>
<body>
<div id='app'>
	<input type="text" v-model="text" @keyup.enter="add">
	<!--
		v-model数据双向绑定不用操作dom了
		@keyup其实就是v-on:keyup的缩写
		.enter修饰符避免了操作dom细节
		鼠标抬起并且按下ener的时候再去增加
	-->
	<ul>
		<li v-for="(item,index) in arr">{{item}} <input type="button" value="删除" @click="del(index)"></li>
	</ul>
</div>
</body>
<script type="text/javascript" src='../js/vue2.0.js'></script>
<script type="text/javascript">
	let vm = new Vue({
		el: '#app',
		data:{
			arr:[],
			text:''
		},
		methods:{
			add:function(){
				this.arr.push(this.text);
				this.text = '';
			},
			del(i){
				/*
				this.arr = this.arr.filter(function(item,index){
					return i!=index;
				})
				// 下面是es6的写法
				*/
                // this.arr = this.arr.filter((item,index) => i!=index); // filter不会改变原来的数组
                // 也可以用splice去删除只不过会造成数组塌陷的问题 splice会改变原来的数组
				this.arr.splice(i,1);
			}
		}
	});
</script>
</html>