<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <title>vue-过滤器</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app-7">
    {{message | capitalize}}
    {{message | uppercase}}
    {{message | lowercase}}
    {{money | currency "￥" 0}}
    <!--0 代表小数点后几位一般用在价格上 也不一定用在价格上-->
    {{money | currency "$" 1}}
    <!--类似于linux的管道符号 中间用空格间隔-->
    {{number}}{{number | pluralize 'haha' 'hehe' 'chichi' 'shuishui'}}
    <br>
    {{message}}<input type="text" v-model="message" debounce="2000">
    <!--这些都是内置的管道符 如何自己定义管道符呢？ debounce 有默认值 防止从前端刷数据库 造成数据崩溃-->
</div>
<div id="app">
    {{message}}
    <p>{{message | my-filter "不好学"}}</p>
</div>
<div class="app">
    <p>原始价格{{oldprice}}</p>
    <p>打折价格<input type="text" v-model="couponprice | second-filter"></p>
    <!--在优惠价格上定义一个自定义管道符 用来把文本框的值特殊处理一下-->
    <p>总价格{{oldprice+couponprice}}</p>
    <!--很明显如果只是单纯的加减法  会被当做字符串拼接一样 -->
</div>
<div class="app-1">
    <input type="text" v-model="keywords" placeholder="请在这里输入你想搜索的内容">
    <p>搜索关键词{{keywords}}</p>
    <ul>
        <!--<li v-for="item in items | limitBy 3">{{item.message}}</li>-->
        <!--<hr>-->
        <!--listBy 3 显示三个 listBy 3 2 从第二个开始显示十三个-->
        <!--<li v-for="item in items | limitBy 3 2">{{item.message}}</li>-->
        <!--<li v-for="item in items | filterBy keywords">{{item.message}}</li>-->
        <!--从关键词里面来过滤我们的message-->
        <!--<li v-for="item in items | filterBy keywords | limtBy 10">{{item.message}}</li>-->
        <!--<li v-for="item in items | filterBy keywords "message" "temp" | limtBy 10">{{item.message}}</li>-->
        <!--<li v-for="item in items | filterBy keywords in "message">{{item.message}}</li>-->
        <li v-for="item in items | filterBy '清华' ">{{item.message}}</li>


    </ul>
</div>
</body>
<script>
    /*
     capitalize 首字母大写
     uppercase 所有首字母换成大写
     lowercase 所有字母换成小写
     currency 货币联合符（￥小数点后几位）
     pluralize 返回定义数组的一部分 尝试着把number  换一下 1 2 3 4
     debounce  保护数据库 避免一直刷新数据库
     listBy 第一个参数 第二个参数  从要循环的数组里面来进行过滤
     filterBy 也是从要循环的数组里面来过滤 filterBy 一般用作搜索 类似于百度的搜索框
     自定义管道符
     */
    var vm = new Vue({
        el: "#app-7",
        data: {
            message: "hellow huagnwenbo",
            money:"5000",
            number:1
        }
    });
    Vue.filter("my-filter",function(value,haha){
        console.log(value);
        return value + haha;//注意这里是return  返回语句
    });
//    my-filter 是过滤器的名字
//    value 是对谁过滤
//    haha 是第二个参数
    var vm2 = new Vue({
        el:"#app",
        data:{
            message:"hello vue.js"
        }
    });
    Vue.filter('second-filter',{
        read:function (value) {
            return  "￥" + value;
        },
        write:function (value) {
            return parseInt(value)
        }
    });
    var vm3 = new Vue({
        el:".app",
        data:{
            oldprice:10,
            couponprice:0
        }
    });
    // 过滤器补充 和 v-for结合起来
    var vm3 = new Vue({
        el:".app-1",
        data:{
            items:[
                {message:"清华",temp:"货币战争"},
                {message:"北大"},
                {message:"人大"},
                {message:"哈佛"},
                {message:"北京科技大学"},
                {message:"天津商业大学"},
                {message:"南开大学"},
                {message:"天津理工大学"}
            ]
        }
    })
</script>
</html>