<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>简易留言板vue基础语法指令的综合用法</title>
	<link rel="stylesheet" href="../js/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/vue.js"></script>
</head>
<body>
	<div class="container" id="box">
        <form role="form">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input type="text" id="username" class="form-control" placeholder="输入用户名" v-model="userName">
            </div>
            <div class="form-group">
                <label for="age">年　龄:</label>
                <input type="text" id="age" class="form-control" placeholder="输入年龄" v-model="userAge">
            </div>
            <div class="form-group">
                <input type="button" value="添加" class="btn btn-primary" v-on:click="add()">
                <input type="reset" value="重置" class="btn btn-danger">
            </div>
        </form>
        <hr>
        <table class="table table-bordered table-hover">
            <caption class="h3 text-info">用户信息表</caption>
            <!-- 表格的抬头 -->
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">名字</th>
                <th class="text-center">年龄</th>
                <th class="text-center">操作</th>
            </tr>
            <!-- v-for 指令的用法-->
            <tr class="text-center" v-for="value in userInfo">
                <td>{{$index+1}}</td>
                <td>{{value.name}}</td>
                <td>{{value.age}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=$index">删除</button>
                </td>
            </tr>
            <!-- 删除全部 （需要判断删除全部什么时候出现什么时候消失）当列表里面的数据不为空的时候显示删除全部用v-show来控制-->
            <tr v-show="userInfo.length!=0">
                <td colspan="4" class="text-right">
                    <button class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#layer" v-on:click="nowIndex=-2">删除全部</button>
                </td>
            </tr>
            <!-- 暂无数据 (需要判断暂无数据什么时候消失什么时候消失) v-show布尔值控制显示隐藏true显示false隐藏当列表里面没有数据的时候(v-show为ture)显示暂无数据-->
            <tr v-show="userInfo.length==0">
                <td colspan="4" class="text-center text-muted">
                    <p>暂无数据....</p>
                </td>
            </tr>
        </table>

        <!--模态框 弹出框-->
        <div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">确认删除么?</h4>
                    </div>
                    <div class="modal-body text-right">
                        <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                        <button data-dismiss="modal" class="btn btn-danger btn-sm" v-on:click="deleteMsg(nowIndex)">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>  
	var vm = new Vue({
		el:"#box",
		data:{
			// userInfo:[{name:"黄文波",age:26}] 通过v-modal通信
			userInfo:[],
			userName:"",
			userAge:"",
			nowIndex:-100
		},
		methods:{
			add:function () {
				// 第一步往数组里面更新数据
				this.userInfo.push({
					name:this.userName,
					age:this.userAge
				})
				// 第二步每次更新完以后让input的值情况
				this.userName = "";
				this.userAge = "";
			},
			// 点击删除的时候会调用这个方法删除信息，那么多信息我怎么知道我删除的是哪个呢？
			// 这就联想到索引，nowIndex表示当前索引，点击删除的时候去改变索引的值，在弹框里面的确认按钮就能获取到更新的nowIndex值
			deleteMsg:function (index) {
				// 因为删除全部和删除每一项都是调用的这个方法，只是删除全部有固定的特殊的索引删除每一项有具体的索引
				if (index == -2) {
					this.userInfo = [];
				} else {
					this.userInfo.splice(index,1)
				}
			}
		}
	})
</script>
<script>
	/*
		结合bootstrap做这个留言板(这个留言板只是本地的模拟交互没有涉及到真实的接口和数据)的目的是熟悉vue的基本用法

		因为用了bootstrap具体样式丑不丑也就无所谓了。

		脱离传统的jquery的操作，避免频繁的操作dom，维护变量。
		
		点击每一项的删除和点击全部删除，点击弹框里面的取消和关闭和确定，都会让弹窗消失这是bootstrap实现的不用去管。

		// v-model input元素通信
		// v-for   循环
		// v-show  显示隐藏
		// vm控制器里面的data和methods
		// 注意data里面的变量userName userAge nowIndex  只要用到的变量都要写上哪怕是空值呢
		// 点击删除每一项和删除全部调用的是同一个方法在这个方法里面去判断(有具体的索引从0开始说明删除的是每一项，有固定的索引-2？说明删除的是全部在这个方法里做if判断即可。当然你也可以单独的写一个删除全部的方法哈哈)
	*/
</script>
</html>